<ul>

  {{#each recipes as |recipe|}}
   <!-- Developers, why are we using data-id and not just id? -->
  <li class='recipe{recipe.id}}'>
    <h1> <small>Recipe Name: {{recipe.title}}</small></h1>
    <div>
  <ul class=“recipes”>

     <li>{{recipe.ingredient_list}}</li>
     <li>{{recipe.directions}}</li>
     <li>{{recipe.prep_time}}</li>


  </ul>
    </div>
  <hr>
  </li>
  {{/each}}

</ul>
